@model RegistrationViewModel


@{
    ViewBag.Title = "User Registration";
}

@{
    Layout = "~/Views/Shared/landing.cshtml";
}

<a class="a" href="#">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <h1>Code360 Student Portal</h1>
</a>

<div class="container" id="container">
    <div class="form-container sign-up-container">  
        <form method="post" asp-controller="Account" asp-action="Register">
            <div asp-validation-summary="All" class="text-danger"></div>
            <h1>Create Account</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>or use your email for registration</span>

            <input type="text" placeholder="Name" />

            <input asp-for="Email" placeholder="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
            <input asp-for="Password" placeholder="Password" />
            <input asp-for="ConfirmPassword" placeholder="Confirm Password" />
            <button type="submit">Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form method="post" asp-controller="account" asp-action="login">
            <h1>Sign in</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>or use your account</span>
            <input asp-for="Email" placeholder="Email" />
            <input asp-for="Password" placeholder="Password" />
            <a href="#">Forgot your password?</a>
            <button type="submit">Sign In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us on Code360 please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us on Code360 Student Portal</p>
                <button class="ghost" id="signUp">Sign Up</button>
                <a asp-controller="home" asp-action="dashboard">test me</a>
            </div>
        </div>
    </div>
</div>
@section scriptss{
    <script src="~/landing/main.js"></script>
}